<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query2']">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query6']">Localities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query3']">Market Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/query11']">Markets</a>
        </li>
      </ul>
    </div>



    <div class="col-md-12">
        <form #QueryForm="ngForm" (ngSubmit)="onSubmit(QueryForm)">
  
          <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h4>Search Food Lowest Price in All Markets</h4>
                  </div>
              <div class="col-md-4">
                 <label for="name">Food</label>
                <select class="form-control" name="time" #queryRank="ngModel" [(ngModel)]="query.time">
                    <option value="week">Weekly Points</option>
                    <option value="month">Monthly Points</option>
                </select>
            <!--     <label for="name">Player Name</label>
                <input type="text" class="form-control" name="player" #salespersonName="ngModel"
                  [(ngModel)]="query.player"> -->
              </div>
            
            </div>
          </div>
  
          <!-- <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label for="name">Food</label>
                <select class="form-control" name="time" #queryRank="ngModel" [(ngModel)]="query.time">
                    <option value="week">Weekly Points</option>
                    <option value="month">Monthly Points</option>
                </select>
              </div>
            </div>
          </div> -->
  
          <div class="col-md-2">
            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </div>
        </form>
      </div>
      <br>
      <br>
      <br>
      <br>
      <!-- MySQL -->
      <div class="col-md-4 super-container">
        <div class="card">
          <div class="header">
            <h4 class="title">MySQL</h4>
            <p class="category">Lowest Price in Markets</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
                <th style="width:20%">Country</th>
                <th style="width:40%">Market</th>
                <th style="width:40%">Lowest Price</th>
              </thead>
              <tbody>
                <tr *ngFor="let mysqlResult of mysqlResults">
                  <td>{{query.player}}</td>
                  <td>{{mysqlResult.avgPTS}}</td>
                  <td>{{mysqlResult.avgPTS}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- MomgoDB -->
      <div class="col-md-4 super-container">
        <div class="card">
          <div class="header">
            <h4 class="title">MongoDB</h4>
            <p class="category">Lowest Price in Markets</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
                  <th style="width:20%">Country</th>
                  <th style="width:40%">Market</th>
                  <th style="width:40%">Lowest Price</th>
  
              </thead>
              <tbody>
                <tr *ngFor="let mongodbResult of mongodbResults">
                    <td>{{query.player}}</td>
                    <td>{{mongodbResult.avgPTS}}</td>
                    <td>{{mongodbResult.avgPTS}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Neo4j -->
      <div class="col-md-4 super-container">
        <div class="card">
          <div class="header">
            <h4 class="title">Neo4j</h4>
            <p class="category">Lowest Price in Markets</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
                  <th style="width:20%">Country</th>
                  <th style="width:40%">Market</th>
                  <th style="width:40%">Lowest Price</th>
              </thead>
              <tbody>
                <tr *ngFor="let neo4jResult of neo4jResults"> 
                    <td>{{query.player}}</td>
                    <td>{{neo4jResult.avgPTS}}</td>
                    <td>{{neo4jResult.avgPTS}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  

  </div>
</div>
