<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query2']">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/query6']">Localities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query3']">Market Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/query11']">Markets</a>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <form #QueryForm="ngForm" (ngSubmit)="onSubmit(QueryForm)">

        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <h4>Search Food Average Price in All Localities</h4>
            </div>
            <div class="col-md-4">
              <label for="name">Country</label>
              <select class="form-control" name="country" #queryRank="ngModel" [(ngModel)]="query.country">
                <option value="Afghanistan">Afghanistan</option>
                <option value="Algeria">Algeria</option>
                <option value="Armenia">Armenia</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Benin">Benin</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Central African Republic">Central African Republic</option>
                <option value="Chad">Chad</option>
                <option value="Colombia">Colombia</option>

              </select>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="name">Food</label>
              <select class="form-control" name="product_name" #queryRank="ngModel" [(ngModel)]="query.product_name">
                <option value="playPTS">Points</option>
                <option value="playAST">Assist</option>
                <option value="play2PA">Two Point Attempts</option>
                <option value="play2PM">Two Point Shots</option>
                <option value="play3PA">Three Point Attempts</option>
                <option value="play3PM">Three Point Shots</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </div>
      </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- MySQL -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">MySQL</h4>
          <p class="category">Food Average Price in Localities</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <th style="width:60%">Locality</th>
              <th style="width:40%">Average Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let mysqlResult of mysqlResults">
                <td>{{mysqlResult.locality}}</td>
                <td>{{mysqlResult.avg_price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- MomgoDB -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">MongoDB</h4>
          <p class="category">Food Average Price in Localities</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <!-- <th style="width:25%">Player</th>
                  <th style="width:25%">Max {{query.performance}}</th> -->
              <th style="width:60%">Locality</th>
              <th style="width:40%">Average Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let mongodbResult of mongodbResults">
                <td>{{mongodbResult.locality}}</td>
                <td>{{mongodbResult.avg_price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Neo4j -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">Neo4j</h4>
          <p class="category">Food Average Price in Localities</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <!-- <th style="width:25%">Date</th>
                  <th style="width:25%">Player</th>
                  <th style="width:25%">Opponent</th>
                  <th style="width:25%">Max</th> -->
              <th style="width:60%">Locality</th>
              <th style="width:40%">Average Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let neo4jResult of neo4jResults">
                <td>{{neo4jResult.locality}}</td>
                <td>{{neo4jResult.avg_price}}</td>
                <!-- <td>{{neo4jResult.opptAbbr}}</td>
                    <td>{{neo4jResult.max}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>