<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query1']">Lowest Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/query5']">Highest Price</a>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <form #QueryForm="ngForm" (ngSubmit)="onSubmit(QueryForm)">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <h4>Search Food Highest Price in Markets</h4>
            </div>

            <div class="col-md-4">
              <label for="name">Country</label>
              <select class="form-control" name="team" #queryRank="ngModel" [(ngModel)]="query.team">
                <option value="ATL">Atlanta Hawks</option>
                <option value="BOS">Boston Celtics</option>
                <option value="BKN">Brooklyn Nets</option>
                <option value="CHA">Charlotte Hornets</option>
                <option value="CHI">Chicago Bulls</option>
                <option value="CLE">Cleveland Cavaliers</option>
                <option value="DAL">Dallas Mavericks</option>
                <option value="DEN">Denver Nuggets</option>
                <option value="DET">Detroit Pistons</option>
                <option value="GS">Golden State Warriors</option>
                <option value="HOU">Houston Rockets</option>
                <option value="IND">Indiana Pacers</option>
                <option value="LAC">Los Angeles Clippers</option>
                <option value="LAL">Los Angeles Lakers</option>
                <option value="MEM">Memphis Grizzlies</option>
                <option value="MIA">Miami Heat</option>
                <option value="MIL">Milwaukee Bucks</option>
                <option value="MIN">Minnesota Timberwolves</option>
                <option value="NO">New Orleans Pelicans</option>
                <option value="NY">New York Knicks</option>
                <option value="OKC">Oklahoma City Thunder</option>
                <option value="ORL">Orlando Magic</option>
                <option value="PHI">Philadelphia 76ers</option>
                <option value="PHO">Phoenix Suns</option>
                <option value="POR">Portland Trail Blazers</option>
                <option value="SAC">Sacramento Kings</option>
                <option value="SA">San Antonio Spurs</option>
                <option value="TOR">Toronto Raptors</option>
                <option value="UTA">Utah Jazz</option>
                <option value="WAS">Washington Wizards</option>
              </select>
            </div>
           
          </div>
          
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
        <label for="name">Market</label>
        <select class="form-control" name="team" #queryRank="ngModel" [(ngModel)]="query.team">
          <option value="ATL">Atlanta Hawks</option>
          <option value="BOS">Boston Celtics</option>
          <option value="BKN">Brooklyn Nets</option>
          <option value="CHA">Charlotte Hornets</option>
          <option value="CHI">Chicago Bulls</option>
          <option value="CLE">Cleveland Cavaliers</option>
          <option value="DAL">Dallas Mavericks</option>
          <option value="DEN">Denver Nuggets</option>
          <option value="DET">Detroit Pistons</option>
          <option value="GS">Golden State Warriors</option>
          <option value="HOU">Houston Rockets</option>
          <option value="IND">Indiana Pacers</option>
          <option value="LAC">Los Angeles Clippers</option>
          <option value="LAL">Los Angeles Lakers</option>
          <option value="MEM">Memphis Grizzlies</option>
          <option value="MIA">Miami Heat</option>
          <option value="MIL">Milwaukee Bucks</option>
          <option value="MIN">Minnesota Timberwolves</option>
          <option value="NO">New Orleans Pelicans</option>
          <option value="NY">New York Knicks</option>
          <option value="OKC">Oklahoma City Thunder</option>
          <option value="ORL">Orlando Magic</option>
          <option value="PHI">Philadelphia 76ers</option>
          <option value="PHO">Phoenix Suns</option>
          <option value="POR">Portland Trail Blazers</option>
          <option value="SAC">Sacramento Kings</option>
          <option value="SA">San Antonio Spurs</option>
          <option value="TOR">Toronto Raptors</option>
          <option value="UTA">Utah Jazz</option>
          <option value="WAS">Washington Wizards</option>
        </select>
        </div>
        </div>
        </div>



        <div class="col-md-2">
            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </div>
      </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- MySQL -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">MySQL</h4>
          <p class="category">Highest Price in Markets</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <th style="width:50%">The Food</th>
              <th style="width:50%">Highest Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let mysqlResult of mysqlResults">
                <td>{{mysqlResult.teamAbbr}}</td>
                <td>{{mysqlResult.rank}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- MomgoDB -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">MongoDB</h4>
          <p class="category">Highest Price in Markets</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <th style="width:50%">The Food</th>
              <th style="width:50%">Highest Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let mongodbResult of mongodbResults">
                <td>{{mongodbResult._id}}</td>
                <td>{{mongodbResult.highestRank}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Neo4j -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">Neo4j</h4>
          <p class="category">Highest Price in Markets</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <th style="width:50%">The Food</th>
              <th style="width:50%">Highest Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let neo4jResult of neo4jResults">
                <td>{{neo4jResult.teamAbbr}}</td>
                <td>{{neo4jResult.highestRank}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
