<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/query1']">Lowest Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query5']">Highest Price</a>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <form #QueryForm="ngForm" (ngSubmit)="onSubmit(QueryForm)">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <h4>Search Food Lowest Prices in Markets</h4>
            </div>
            <div class="col-md-4">
              <label for="name">Country</label>
              <select class="form-control" #Country  (change)='onCountrySelected(Country.value)' [(ngModel)]="query.country">
                <option value="Afghanistan">Afghanistan</option>
                <option value="Algeria">Algeria</option>
                <option value="Armenia">Armenia</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Benin">Benin</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Central African Republic">Central African Republic</option>
                <option value="Chad">Chad</option>
                <option value="Colombia">Colombia</option>

              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="name">Market</label>
              <select class="form-control" name="market"  [(ngModel)]="query.market">
                <option *ngFor="let mongodbResult2 of mongodbResults2">{{mongodbResult2.market}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </div>
      </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- MySQL -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">MySQL</h4>
          <p class="category">Lowest Prices in All Markets</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <th style="width:60%">Food</th>
              <th style="width:40%">Lowest Price</th>

            </thead>
            <tbody>
              <tr *ngFor="let mysqlResult of mysqlResults">
                <td>{{mysqlResult.product_name}}</td>
                <td>{{mysqlResult.min_price}}</td>
                <!-- <td>{{query.rank}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- MomgoDB -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">MongoDB</h4>
          <p class="category">Lowest Prices in Markets</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <!-- <th style="width:40%">Date</th>
                <th style="width:30%">Team</th>
                <th style="width:30%">Rank</th> -->
              <th style="width:60%">Food</th>
              <th style="width:40%">Lowest Price</th>

            </thead>
            <tbody>
              <tr *ngFor="let mongodbResult of mongodbResults">
                <td>{{mongodbResult.product_name}}</td>
                <td>{{mongodbResult.min_price}}</td>
                <!-- <td>{{query.rank}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Neo4j -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">Neo4j</h4>
          <p class="category">Lowest Prices in Markets</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <!-- <th style="width:40%">Date</th>
                      <th style="width:30%">Team</th>
                      <th style="width:30%">Rank</th> -->
              <th style="width:60%">Food</th>
              <th style="width:40%">Lowest Price</th>

            </thead>
            <tbody>
              <tr *ngFor="let neo4jResult of neo4jResults">
                <td>{{neo4jResult.product_name}}</td>
                <td>{{neo4jResult.min_price}}</td>
                <!-- <td>{{query.rank}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>