<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <form #QueryForm="ngForm" (ngSubmit)="onSubmit(QueryForm)">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <h4>First Position</h4>
            </div>
            <div class="col-md-4">
              <select class="form-control" name="conf" #queryRank="ngModel" [(ngModel)]="query.conf">
                <option value="West">West</option>
                <option value="East">East</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- MySQL -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">MySQL</h4>
          <p class="category">Team by rank</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <th style="width:30%">Team</th>
            </thead>
            <tbody>
              <tr *ngFor="let mysqlResult of mysqlResults">
                <td>{{mysqlResult.teamAbbr}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- MomgoDB -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">MongoDB</h4>
          <p class="category">Team by rank</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <th style="width:30%">Team</th>
            </thead>
            <tbody>
              <tr *ngFor="let mongodbResult of mongodbResults">
                <td>{{mongodbResult.teamAbbr}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Neo4j -->
    <div class="col-md-4 super-container">
      <div class="card">
        <div class="header">
          <h4 class="title">Neo4j</h4>
          <p class="category">Team by rank</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <th style="width:30%">Team</th>
            </thead>
            <tbody>
              <tr *ngFor="let neo4jResult of neo4jResults">
                <td>{{neo4jResult.teamAbbr}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>