<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query2']">Match Performance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query6']">Highest Perfromance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query3']">Contribution</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query11']">Average Points</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/query8']">Starter Count</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/query9']">Highest Average Time Players</a>
        </li>
      </ul>
    </div>

  </div>
</div>
